/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/

/* Posts and pages */
.exo-light{
    font-family: $exo-light;
}
.exo-light-italic{
    font-family: $exo-light-italic;
}
.exo-medium{
    font-family: $exo-medium;
}
.exo-medium-italic{
    font-family: $exo-medium-italic;
}

.sticky {
	display: block;
}

.hentry {
	margin: 0 0 $base__space-unit;
}

.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: $base__space-unit 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 $base__space-unit;
}
